@import "tailwindcss";

@theme {
    --color-primary: #009e84;
    --color-secondary: #e8faf7;
    --color-dark-primary: #004d40;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

